<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head.ejs') %>
  <body>
    <div id="search-bar">
      <h1 id="imdb-clone-title">IMDb-clone</h1>
      <form id="search-form">
        <input type="text" id="search-input" placeholder="Search IMDB" />
        <div id="search-warning" style="color: red"></div>
      </form>
    </div>
    <div>
      <h1 id="category-title">Now Playing Movies</h1>
    </div>
    <div id="footer">
      <img src="logo.svg" alt="logo" />
      <p>
        This product uses the TMDB API but is not endorsed or certified by TMDB.
      </p>
    </div>
    <div id="movies-grid"></div>
    <script src="script.js"></script>
  </body>
</html>
